/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #9900ff;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #cc00ff;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  color: #cc66ff;
  background: #ccc;
}

#left {
  float: left;
  width: 33.3%;
  color: #9966ff
}

#middle {
}

#right {
}

#full {
}

#division {
}

aside {
}

footer {
}
